<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @card.title %>
</p>

<p>
  <b>Description:</b>
  <%= @card.description %>
</p>

<p>
  <b>Status:</b>
  <%= @card.status %>
</p>

<p>
  <b>Board:</b>
  <%= @card.board_id %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
