<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>
<p>
  <strong>Board:</strong>
  <%= @card.board_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
